$h-font: 'Josefin Sans';
$accent-font: 'Kreon';
$p-font: 'Sanchez';

		// COLORS

$light-blue: #006EB8;
$blue: #005A8F;
$bg-grey: #EBEBEB;
$light-grey: #3D3D3D;
$v-light-grey: #F0F1F5;
$dark-grey: #1F1F1F;

h2{
	font-size: 72px;
	color: $blue;
	border-bottom: 4px solid $light-grey;
	text-transform: uppercase;
	font-weight: 700;
	font-family: $h-font;
}

h4{
	margin-top: 30px;
	padding-bottom: 4px;
	padding-right: 20px;
	border-bottom: 2px solid $dark-grey;
	color: $blue;
	font-size: 42px;
	text-align: right;
	font-family: $h-font;
}

.arrow-down{
	width: 50px;
	height: 50px;
	margin: 25% auto;
	border-radius: 1000px;
	background-color: white;

	h6{
		width: 100%;
		color: $light-blue;
		font-size: 42px;
		text-align: center;
	}
}


.header{
	top: 20px;
	right: 40px;
	position: fixed;
	color: white;
	text-align: right;
	font-family: $h-font;

	li{
		margin-bottom: 5px;
		font-size: 20px;
	}
}


.intro{
	width: 100%;
	height: 100vh;
	float: left;
	color: white;
	background-image: url('../rsc/ny2.jpg');
	background-size: 100%;
	background-attachment: fixed;

	h1{
		margin-top: 25%;
		font-size: 102px;
		letter-spacing: 15px;
		text-align: center;
		text-transform: uppercase;
		font-family: $accent-font;
	}
}

.services{
	width: 100%;
	margin-top: 80px;
	float: left;

	p{
		margin-top: 10px;
		padding-left: 10px;
		padding-right: 10px;
		color: $dark-grey;
		text-align: justify;
		line-height: 1.2;
		font-family: $p-font;
	}
}

.about{
	margin-top: 50px;
	width: 100%;
	height: 700px;
	float: left;
	position: relative;
	overflow: hidden;
	background-color: black;

	.person{
		width: 50%;
		height: 100%;
		position: relative;
		z-index: 1;
		transition: .4s ease;
	
		img{
			position: absolute;
			height: 100%;
		}

		h3{
			font-size: 36px;
			position: absolute;
			font-family: $h-font;
		}

		h5{
			font-size: 24px;
			position: absolute;
			font-style: italic;
			font-family: $accent-font;
		}
	}

	.person:first-child{
		float: left;
		background-color: $v-light-grey;

		img{
			left: -27%;
		}

		h3{
			top: 15%;
			right: 20%;
			color: $dark-grey;
		}

		h5{
			top: 25%;
			right: 30%;
			color: $light-grey;
		}
	}

	.person:nth-child(2){
		float: right;

		img{
			right: -25%;
		}

		h3{
			top: 15%;
			left: 20%;
			color: white;
		}

		h5{
			top: 25%;
			left: 30%;
			color: $v-light-grey;
		}
	}

	.person:hover{
		z-index: 5;
		width: 75%;
		transition: .4s ease;
	}
}

.form{
	width: 100%;
	height: 600px;
	float: left;
	background-color: $bg-grey;

	input{
		width: 100%;
		border: 0;
		background-color: inherit;
	}
}

.footer{
	width: 100%;
	height: 300px;
	float: left;
	background-color: $dark-grey;
}